<table width="400" cellpadding="0" cellspacing="0" style="width:400px; vertical-align: -webkit-baseline-middle; font-size: small; font-family: Roboto, Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;">
    <tbody>
        <tr>
            <td height="20" style=""></td>
        </tr>
        <tr>
            <td>
                <table width="100%" cellpadding="0" cellspacing="0" style="width:100%; vertical-align: -webkit-baseline-middle; font-size: small; font-family: Roboto, Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;">
                    <tbody>
                        <tr>
                            <td width="50%" style="vertical-align: top;">
                                <table cellpadding="0" cellspacing="0" style="vertical-align: -webkit-baseline-middle; font-size: small; font-family: Roboto, Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif;">
                                    <tbody>
                                        <tr height="20" style="vertical-align: middle;">
                                            <td style="padding: 0px; color: #0b105b;">
                                                <h3 color="#0b105b" style="margin: 0px; font-size: 12pt; letter-spacing:0; font-weight:bold; color: #0b105b; line-height: 20px;"><span>Firstname</span><span>&nbsp;</span><span>Lastname</span></h3>
                                            </td>
                                        </tr>
                                        <tr height="20" style="vertical-align: middle;">
                                            <td style="padding: 0px; color: #0b105b;">
                                                <p color="#0b105b" style="margin: 0px; color: #0b105b; font-size: 10pt; font-weight: 400; letter-spacing:0; line-height: 20px;"><span>Title / Position</span></p>
                                            </td>
                                        </tr>
                                        <tr height="20" style="vertical-align: middle;">
                                            <td style="padding: 0px;">
                                                <p color="#0b105b" style="margin: 0px; margin-top:15px; color: #0b105b; font-size: 10pt; font-weight: 400; letter-spacing:0; line-height: 20px;"><a color="#0b105b" style="text-decoration: none; color: #0b105b;"><span>617-555-1212</span></a></p>
                                            </td>
                                        </tr>
                                        <tr height="20" style="vertical-align: middle;">
                                            <td style="padding: 0px;">
                                                <p color="#0b105b" style="margin: 0px; font-weight: 400; color: #0b105b; font-size: 10pt; letter-spacing:0; line-height: 20px;"><a href="https://hyperscayle.com" color="#0b105b" style="text-decoration: none; color: #0b105b;"><span>hyperscayle.com</span></a></p>
                                            </td>
                                        </tr>
                                        <tr height="20" style="vertical-align: middle;">
                                            <td style="padding: 0px;">
                                                <p color="#0b105b" style="margin: 0px; margin-top:25px; font-weight: 500; color: #0b105b; font-size: 9pt; letter-spacing:.05em; line-height: 20px;"><a href="https://hyperscayle.com" color="#0b105b" style="text-decoration: none; color: #0b105b;"><span><img src="https://static1.squarespace.com/static/628ff6cb3aba1f4f3090f420/t/62b0afc295bb685ab48771fa/1655746498736/Hyperscayle+Logo+-+Small.png" width="275" /></span></a></p>
                                            </td>
                                        </tr>
                                        <tr height="10" style="vertical-align: middle;"><td></td></tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

